*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    display: flex;
}

.todolist{
    width: 500px;
    background: rgb(219, 219, 219);
     
}
h2{
    font-size: 46px;
    text-align: center;
}


.list__step{
    font-size: 30px;
    text-align: center;
    background: rgb(143, 158, 246);
    margin: 50px 20px;
    padding: 20px;
}

.modules{
    width: 1200px;
    display: flex;
}

.module{
    background-color:rgb(219, 219, 219);
    margin-right: 50px;
}